*{
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

header{
	height:70px;
	margin: 1px 1px 1px 1px;
	padding: 20px 1px 1px 1px;
}

#logo a {
	margin: 20px 20px 20px 40px ;
	float: left;
	font-size: 35px;
	color: black;
}

nav {
	margin-top: 30px;
	overflow: hidden;
	float: right;
}

nav li {
	float:left;
	list-style: none;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
    text-decoration: none;
	padding: 0 30px;
	color: black;
}

nav li a:hover {
	color: red;
}

main {
text-align: center;
}

#home {
	font-size: 20px;
	height:30px;
	margin: 0;
	padding: 30px;
}

#plot {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#gameplay {
	position: relative;
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px 400px 30px 30px;
}

#trailers {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}
#photos {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}
#contact{
	text-align: center;
}
#ds3logo{
	position: absolute;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 1250px;
}