#carousel img {
    margin: 0 auto;
}
nav {
    max-width: 1140px;
    margin: 0 auto;
}
#plot{
	margin-top: 50px;
	margin-bottom: 0;
	background-color: black;
}
#gameplay{
	overflow: auto;
	margin-top: -10px;
	background-color: black;
}
#trailers{
    margin-top: -20px;
	background-color: black;
}
#photos{
	margin-top: -20px;
	background-color: black;
}
*{
	color: white;
}
.main{
	background-color: black;
}
#ds3logo {
  float: right;
}
#footer{
	overflow: auto;
    max-width: 1140px;
    margin: 0 auto;
    background-color: black;
}
.fa {
	padding: 50px;
    font-size: 50px;
    max-width: 350px;
    text-align: center;
}
.fa:hover {
    opacity: 0.7;
}
.social-links{
	text-align: center;
}
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%;
}
html, body { 
  background: url(img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mydiv{
    display: none;
}
input[type=text], select {
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4169E1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #191970;
}
input[type=reset] {
    width: 100%;
    background-color: #4169E1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#show:hover {
    background-color: #191970;
}
textarea {
    color: black;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
}
input[type=reset]:hover {
    background-color: #191970;
}
#mydiv {
    border-radius: 5px;
    padding: 20px;
}
#show {
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}